// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.border-dashed {
    border-style: dashed !important;
}

.border-left-dashed {
    border-left-style: dashed !important;
}

.icon {
    width: 1em;
    height: 1em;
}

main {
    background-color: $body-bg;
}
